
  
  #footer {     
    height: 8vh;
    margin-top: 1.5em;    
    padding: 10px 50px ;
    width:100%;
    color: white;
    background-color: black;
  }

  small-2
  {
      text-align: center;
  }
  
  
  