button {
  width: max-content;
}

#effect {
  width: 240px;
  height: 170px;
  padding: 0.4em;
  position: relative;
}
#effect h3 {
  margin: 0;
  padding: 0.4em;
  text-align: center;
}

.szel
{
    background-color: black;
}

.keretes
{
    border: 5px solid red;
    border-radius: 20px;
    padding: 3px;
    background-color: black;
    color: white;
}